********************************************************************************


888                        888    888
888                        888    888
888                        888    888
88888b.   .d88b.   .d88b.  888888 88888b.   .d88b.  888  888
888 "88b d8P  Y8b d8P  Y8b 888    888 "88b d88""88b `Y8bd8P'
888  888 88888888 88888888 888    888  888 888  888   X88K
888 d88P Y8b.     Y8b.     Y88b.  888 d88P Y88..88P .d8""8b.
88888P"   "Y8888   "Y8888   "Y888 88888P"   "Y88P"  888  888

------------------------------------------------------------
City of Boroondara
------------------------------------------------------------
URL: http://{{ beet_domain }}/
Drush alias: @{{ drush_alias_name }}

------------------------------------------------------------
Council Profile
------------------------------------------------------------
URL: http://council.local
Drush alias: @council.local


Composer commands
------------------------------------------------------------
test - Run all tests.
behat - Run all behat tests.
dcr - Run PHP code sniffer.
ncr - Run NPM code sniffer.
boroo-sync - Revert all council features and exports config.
boroo-reset - Revert all council features and import config.
boroo-importdb - Import boroo db from Acquia.

Developer Tools
------------------------------------------------------------
Mailhog: http://{{ beet_domain }}:8025/


------------------------------------------------------------
Documentation: http://beetbox.rtfd.org
------------------------------------------------------------


